# See http://help.github.com/ignore-files/ for more about ignoring files.

# parcel
.parcel-cache

# dependencies
node_modules

# testing
coverage

# production
dist

# misc
.DS_Store
.env
npm-debug.log
.vscode